/* ====================================
            ADMIN LAYOUT
==================================== */

.admin-layout{
    display:flex;
    width:100%;
    height:100vh;
    overflow:hidden;
    background:#f5f7fb;
}

/* ===============================
        SIDEBAR SPACING
=============================== */

.admin-content{
    flex:1;
    display:flex;
    flex-direction:column;
    height:100vh;
    overflow:hidden;
    transition:margin-left .35s ease;
}

/* ===============================
        PAGE CONTENT
=============================== */

.admin-main{
    flex:1;
    overflow-y:auto;
    padding:30px;
    background:#f5f7fb;
}

/* nice smooth scrollbar */

.admin-main::-webkit-scrollbar{
    width:8px;
}

.admin-main::-webkit-scrollbar-thumb{
    background:#d8d8d8;
    border-radius:20px;
}

.admin-main::-webkit-scrollbar-track{
    background:transparent;
}

/* ===============================
      MOBILE RESPONSIVE
=============================== */

@media (max-width:991px){

    .admin-content{
        margin-left:0 !important;
    }

    .admin-main{
        padding:20px;
    }

}