.metric-card{

    background:white;

    border-radius:20px;

    padding:25px;

    box-shadow:0 10px 30px rgba(15,23,42,.05);

    transition:.3s;

}

.metric-card:hover{

    transform:translateY(-6px);

}

.metric-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.metric-icon{

    width:60px;

    height:60px;

    border-radius:18px;

    background:#fff8e6;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    color:#FDBB2D;

}

.metric-change{

    color:#10b981;

    font-weight:600;

}

.metric-card small{

    color:#64748b;

}

.metric-card h2{

    margin-top:10px;

    font-size:34px;

    font-weight:700;

}